@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root {
 

  --color-scheme: light dark;
  --textcolor: #3A3D3F;
  --white: #ffff;

  --font-garamond:"EB Garamond", serif;
  --font-sans: "Work Sans", serif;
  --topbar-bg:#734A35
}



body {
margin:0;
padding:0;
background:var(--white);
color:var(--textcolor);
font-family: var(--font-sans);

}
.custom-container {
  @apply max-w-[1320px] w-full   px-4 mx-auto;
}
//button
.button_overwrite{
  border-radius: 40px!important;
}
//topbar
.topbar{
  background-color:var(--topbar-bg);
  color:var(--white);
  font-family: var(--font-sans);
}
//navbar
.navbar{
font-family: var(--font-sans);
}
//section-subtitle
.section-subtitle {
  font-size: 16px; 
  font-weight: 500; 
  color: #D4AF37; 
  font-family: var(--font-garamond);

  /* Medium (md) screens and up */
  @media (min-width: 768px) {
    font-size: 20px; 
  }
}


//section-title
.section-title {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  font-family: var(--font-garamond);
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.875rem; 
  
  @media (min-width: 768px) {
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
    font-weight: 500; 
    line-height: 2.25rem; 
  }

 
  @media (min-width: 1024px) {
    font-size: 2.25rem; 
    line-height: 2.938rem; 
  }


  @media (min-width: 1280px) {
    font-size: 3rem; 
    line-height: 3.563rem; 
  }
}
//section-description
.section-description {
  color: #3A3D3F; 
  font-size: 0.875rem; 
  font-weight: 400; 
  margin-bottom: 2.5rem;
  font-family: var(--font-sans);

  /* Medium (md) screens and up */
  @media (min-width: 768px) {
    font-size: 1rem!important
  }
}
//banner title
/* Base styles for all screen sizes */
.banner_title {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 600; /* Semibold */
  margin-top: 37px;
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .banner_title {
      font-size: 36px; /* Approximate for text-4xl */
      margin-top: 0;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .banner_title {
      font-size: 48px; /* Approximate for text-5xl */
  }
}

.mySwiper{
font-family: var(--font-sans);

}

//hero section 
.hero-banner{
  font-family: var(--font-sans);
  height: 948px;


}
.hero-image-shape{
  @media screen and (min-width:1600px)  and (max-width:1699px){
    right:0!important;
  }
  @media screen and (min-width:1500px)  and (max-width:1599px){
    right:0!important;
  }
}

@media screen and  (min-width:1200px) and (max-width:1279px){
  .hero-banner{
    height:850px;
  }
  .hero-image-shape{
    height:742px!important;
  }
}
@media screen and  (min-width:1024px) and (max-width:1199px){
  .hero-banner{
    height:700px;
  }
  .hero-image-shape{
    height:592px!important;
  }
}
@media screen and  (min-width:768px) and (max-width:1023px){
  .hero-banner{
    height:600px;
  }
  .hero-image-shape{
    height:492px!important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .hero-banner{
  height: 500px;
}
}
.hero-title {
 font-family: var(--font-garamond);
  
 }

// about section
.about-statu{

  @media  screen and (max-width:1810px) {
    display: none!important;
  }
}

.lawyer , .testimonial , .service , .testimonialCard , .serviceCard , .about-section ,  .button .case-study {
  font-family: var(--font-sans); 
 }

//playbutton

  @keyframes ripple-1 {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  @keyframes ripple-2 {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .animate-ripple-1 {
    animation: ripple-1 1.5s infinite;
  }

  .animate-ripple-2 {
    animation: ripple-2 1.5s infinite 0.5s;
  }
